<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/myApp/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/myApp/styles.css' %}">
    <title>Add Plan</title>
</head>
<body>
    <div id="top">
        <a href="/dashboard">Home</a> | <a href="/logout">Logout</a>
    </div>
    <hr>
    <h4>Add a Trip</h4>
    <form action="/new_trip" method="post">
        {% csrf_token %}
        <label for="destination">Destination:<input type="text" name="destination" id="destination"></label>
        <label for="description">Description:<input type="text" name="description" id="description"></label>
        <label for="travel_from">Travel Date From:<input type="date" name="travel_from" id="travel_from"></label>
        <label for="travel_to">Travel Date To:<input type="date" name="travel_to" id="travel_to"></label>
        <input type="submit" value="Add">
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>